<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2023 Jay Bobzin SPDX-License-Identifier: Apache-2.0 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".StandupApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_su_launcher"
        android:label="@string/su_app_name"
        android:supportsRtl="true"
        >

        <activity
            android:name=".StandupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
